#!!! Make sure nobody sees the content of your .env file !!!
# See README.md for additional information
REMOTE_NETWORK_NAME=YOUR_REMOTE_NETWORK_NAME
REMOTE_NETWORK_RPC_URL=REMOTE_NETWORK_URL
PRIVATE_KEY=YOUR_WALLET_PRIVATE_KEY