To connect to mumbai network you need Mumbai RPC url and your private key.
Both can be found in metamask.

To connect to Mumbai follow these steps:
1. Create .env file in root directory
2. Type the following parameters:
    MUMBAI_RPC_URL = 'Mumbai RPC url'
    PRIVATE_KEY = 'Your private key'

!!! Make sure nobody sees the content of your .env file !!!

